[submodule "mediawiki-parser"]
	path = mediawiki-parser
	url = https://git@git.smart-cactus.org/ben/mediawiki-parser
[submodule "binary-serialise-cbor"]
	path = binary-serialise-cbor
	url = git://github.com/well-typed/binary-serialise-cbor
[submodule "pipes-zlib"]
	path = pipes-zlib
	url = git://github.com/bgamari/pipes-zlib
[submodule "b-tree"]
	path = b-tree
	url = git://github.com/bgamari/b-tree
[submodule "simplir"]
	path = simplir
	url = git@github.com:bgamari/simplir.git
	urlGitlab = https://git@git.smart-cactus.org/ben/simpl-ir
[submodule "vendor/xml"]
	path = vendor/xml
	url = git://github.com/snoyberg/xml
[submodule "assessment-interface/annotation"]
	path = assessment-interface/annotation
	url = git://github.com/bgamari/annotation
[submodule "vendor/intset"]
	path = vendor/intset
	url = git://github.com/bgamari/intset
[submodule "vendor/binary-serialise-cbor"]
	path = vendor/binary-serialise-cbor
	url = git://github.com/bgamari/binary-serialise-cbor
[submodule "vendor/frisby"]
	path = vendor/frisby
	url = git://github.com/bgamari/frisby
