[submodule "mediawiki-parser"]
	path = mediawiki-parser
	url = git@git.smart-cactus.org:ben/mediawiki-parser
[submodule "binary-serialise-cbor"]
	path = binary-serialise-cbor
	url = git://github.com/well-typed/binary-serialise-cbor
[submodule "pipes-zlib"]
	path = pipes-zlib
	url = git://github.com/bgamari/pipes-zlib
[submodule "b-tree"]
	path = b-tree
	url = git://github.com/bgamari/b-tree
[submodule "simplir"]
	path = simplir
	url = git@git.smart-cactus.org:ben/simpl-ir
[submodule "vendor/xml"]
	path = vendor/xml
	url = git://github.com/snoyberg/xml
