[submodule "mediawiki-parser"]
	path = mediawiki-parser
	url = https://git.smart-cactus.org/ben/mediawiki-parser
[submodule "binary-serialise-cbor"]
	path = binary-serialise-cbor
	url = https://github.com/well-typed/binary-serialise-cbor
[submodule "pipes-zlib"]
	path = pipes-zlib
	url = https://github.com/bgamari/pipes-zlib
[submodule "b-tree"]
	path = b-tree
	url = https://github.com/bgamari/b-tree
[submodule "vendor/xml"]
	path = vendor/xml
	url = https://github.com/snoyberg/xml
[submodule "assessment-interface/annotation"]
	path = assessment-interface/annotation
	url = https://github.com/bgamari/annotation
[submodule "vendor/intset"]
	path = vendor/intset
	url = https://github.com/bgamari/intset
[submodule "vendor/binary-serialise-cbor"]
	path = vendor/binary-serialise-cbor
	url = https://github.com/bgamari/binary-serialise-cbor
[submodule "vendor/frisby"]
	path = vendor/frisby
	url = https://github.com/bgamari/frisby
[submodule "miso-library"]
	path = miso-library
	url = https://github.com/dmjio/miso.git
[submodule "vendor/porter"]
	path = vendor/porter
	url = https://github.com/laura-dietz/porter.git
[submodule "trec-car-tools-haskell"]
	path = trec-car-tools-haskell
	url = https://github.com/TREMA-UNH/trec-car-tools-haskell.git
[submodule "rank-lips"]
	path = rank-lips
	url = git@git.smart-cactus.org:dietz/rank-lips.git
