
#notifications {
    position: fixed;
    margin-left: 60%;
    margin-right:0px;
    float:right;
    z-index: 2;
}

#toolbar-container { 
    position: fixed;
    margin-left: auto;
    margin-right: 100px;
    width: 100%;
    z-index: 1;
}

#toolbar-container div {
    margin-right: 49px;
    float: right;
    padding: 4px;
    clear: both;
    background-color: #fff;
}

.annotate .btn {
    border-color: #ccc;
    background-color: #fff;
}

.annotate .btn.active {
    background-color: #286090;
    color: #fff;
}

.entity-snippet-li {
    display: inline-table;
    width: 600px;
    text-align: left;
    background-color: #dce7f1;
    border-style: solid;
    border-width: thin;
    border-color: #a9d1f5;
    border-radius: 20px;
    padding: 20px;
    margin: 4px;
    vertical-align: top;
}

.facet-select {
    background-color:#ffffff
}

.facet-option {
    background-color:#ffffff
}

.notes-div {
}

.notes-field{
    background-color:#ffffff
}

a {
    color: #005dac;
}

a:visited {
    color: #000520;
}

a:hover {
    color: #005dac;
    text-decoration: underline;
}

.passage-orig-entity {
    font-weight:bold;
}


.active-display-btn {
    background-color: #286090;
    border-color: #286090;
    color: #fff;
}

.hidden-display {
    display:none;
}

.display-button-btn {
    background-color: #dce7f1;
    border-color: #a9d1f5;
    color: #286090;
}

.display-button-btn:hover{
    background-color: #dce7f1;
    border-color: #a9d1f5;
    color: #286090;
}

.hidden-panel {
    display:none
}

.shown-panel {
}


.hidable-hidden {
    background-color: #286090;
    border-color: #286090;
    color: #fff;
}

.hidable-shown {
    background-color: #dce7f1;
    border-color: #a9d1f5;
    color: #286090;
}
